h1{
    text-align: center;
    background-color: rgb(77, 0, 51);
    color: rgb(255, 198, 255);
}


div{
    align-items: center;
    text-align: center;
    background-color:rgb(255, 175, 228);

}

p{
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

p::first-letter {
    color: red;
}

button{
    color: rgb(54, 7, 54);
    background-color: rgb(255, 227, 247);
    border-color: rgb(99, 9, 87);
    transition: background-color 1s;
}

button:hover{
    background-color: rgb(180, 210, 255);
}